//- 申请详情
extends ../_master

block variables
  -
    hasHeader = true

block append content
  // BEGIN 受助申请详情
  .main-container.apply-detail
    .col-12
      img(src="/resource/image/banner.png")
    .col-12
      p 受助人姓名
      p 一个帮助，让贫困女童继续求学梦想。女童是弱势群体中的弱势；今天的女童，将成为明天的母亲，帮助一名贫困女童，不仅是帮助一个人，而是帮助至少一代人。从传统的项目执行到前沿的公益创投、影响力投资，王兵的布阵越来越大，下一步，他要为行业再造新生。
      p.type 物品
      .col-3
        p 0人帮助
      .col-3.offset-18
        a(href='javascript:') 帮助
  // END 受助申请详情
  