//- 申请详情
extends ../_master

block variables
  -
    hasHeader = true

block append content
  // BEGIN 受助申请详情
  .main-container.apply-detail
    .col-12
      img(src="/resource/image/banner.png")
    .col-12
      p 受助人姓名
      p 一个帮助，让贫困女童继续求学梦想。女童是弱势群体中的弱势；今天的女童，将成为明天的母亲，帮助一名贫困女童，不仅是帮助一个人，而是帮助至少一代人。从传统的项目执行到前沿的公益创投、影响力投资，王兵的布阵越来越大，下一步，他要为行业再造新生。
      p.type 物品
      .col-3
        p 0人帮助
      .col-3.offset-18
        a#confirm-info(href='javascript:') 帮助
  // END 受助申请详情

  // BEGIN 确认捐助弹框
  .layer-container
    .layer-confirm-help
      h2 确认信息
      .row.confirm-row
        .col-7
          p.title 捐助的物品：
        .col-17
          p 222
      .row.confirm-row
        .col-7
          p.title  您的姓名：
        .col-17
          p  aa
      .row.confirm-row
        .col-7
          p.title  您的联系方式：
        .col-17
          p 15156465
      .row.confirm-row
        .col-7
          p.title  您的地址：
        .col-17
          p 河北省石家庄市藁城市222
      p.confirm-thanks 感谢您的爱心，工作人员讲在2个工作日内去上述地址取件，请耐心等候~
      .row
        .col-12
          a#confirm-help(href='javascript:') 确认帮助
        .col-12
          a#cancle-help(href='javascript:') 取消
        
    
  // END 确认捐助弹框
  

block append script
  script(src='/resource/script/applydetail.babel.js')