.main-container
  .row.header-account
    .col-6
      p 微助
    .col-10
      input.header-input(placeholder='搜索你想捐助的物品')
    .col-3
      a.header-search(href="javascript:") 搜索
    .col-5
      //  .has-login 
      //    a(href="/home/myinfo") 我的信息 |
      //    a.header-exit(href="/home/login") 退出
      .no-login
        a(href="/home/login") 登录 |
        a(href="/home/register") 注册

.header-nav
  .main-container
    .row
      .col-4.offset-4
       a.active(href="/home/index") 首页
      .col-4
        a(href="/home/applyhelp") 申请帮助
      .col-4
        a(href="/home/helphistory") 捐助查询
      .col-4
        a(href="javascript:") 关于我们

  